<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark drag">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler no-drag" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse no-drag" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="custom-navbar drag">

  <div class="bar-container no-drag">
    <div class="brand btn secondary">
      <div class="brand-img">
        <img width="50%"
             src="https://cdn.streamloots.com/uploads/5bbf61f8003cbf001197d044/b31098f0-53bd-4811-b118-2450dd5508cc.png"
             alt="">
      </div>
      <div class="ms-2 fs-5"> Marca </div>
    </div>
    <div class="menu-items">
      <ul>
        <li><span class="btn secondary">Home</span></li>
        <li><span class="btn secondary">Usuario</span></li>
        <li><span class="btn secondary">{{pong}}</span></li>
      </ul>
    </div>
  </div>
  <div class="navbar-btns no-drag">
    <span class=" btn secondary">&#8212;</span>
    <span class=" btn secondary"><i class="bi bi-square"></i></span>
    <span class=" btn secondary"><i class="bi bi-x-lg"></i></span>
  </div>

</nav>