/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ul,
// li {
//   margin: 0;
//   padding: 0;
// }


$primary: #1a1a1a !important;
$secondary: #eeeeee !important;
$light: #292828 !important;

body {
  background-color: $primary;
  color: $secondary;
}

.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}

.bg-primary {
  background-color: $primary;
}


.drag {
  -webkit-app-region: drag;
  -webkit-user-select: none;
}


.no-drag {
  -webkit-app-region: no-drag;
}



.custom-navbar {
  display: flex;
  justify-content: space-between;




  .bar-container {
    display: flex;
    align-items: center;
    height: 100%;


    .brand {
      display: flex;
      align-items: center;
      height: 100%;
      padding-top: 0.5rem;
      padding-left: 0.5rem;

      .brand-img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.25rem;
        background-color: $secondary;
      }
    }

    .menu-items {
      padding-left: 2rem;
      padding-top: 0.25rem;

      ul {

        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 0;

        li+li {
          padding-left: 1rem;
        }
      }
    }
  }

  .navbar-btns {

    span,
    i {
      font-size: 0.8rem !important;
      transition: background-color 0.15s ease-in-out;
      border-radius: 0;

      &:hover {
        background-color: $light;
      }
    }

    span:nth-of-type(2) {
      i {
        font-size: 0.75rem !important;
      }
    }
  }

}